    * {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

#loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: #474b6b;
}

#loading-text {
  text-align: center;
  color: #fff;
}

#loading-overlay .bd {
  color: red;
  font-size: 22px;
  text-shadow: 0px 0px 1px white, 0px 0px 1px white;
}

    body {
      background-color: #fff;
      min-height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #131313;
    }

    .container {
      float: right;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6px;
      border-radius: 9px;
      border: 1px solid white;
      user-select: none;
      overflow: hidden;
      position: absolute;
      right: 8px;
      top: 0;
    }

    #Display-area {
      width: 100%;
      margin: 2vh 0;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, minmax(40px, auto));
      word-wrap: break-word;
      border-bottom: 3px rgba(128, 128, 128, 0.116) solid;
      position: relative;
      overflow: hidden;
    }

    #Display-area .currentInput {
      /* display: flex; */
      text-align: right;
      height: 8vh;
      color: white;
      font-size: x-medium;
      line-height: 2;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      word-wrap: break-word;
      overflow: hidden;
      font-weight: bold;
    }

    #Display-area .answerScreen {
      text-align: right;
      color: rgba(150, 150, 150, 0.87);
      height: 7px;
      line-height: -8;
      font-size: small;
    }

    .keypad-btns {
      display: grid;
      grid: repeat(5, 30px) / repeat(4, 40px);
      grid-row-gap: 5px;
      grid-column-gap: 5px;
    }

    .keypad-btns button {
      outline: none;
      border: none;
      border-radius: 2px;
      background-color: #474b6b;
      color: #fff;
      font-size: small;
      font-weight: bold;
    }

    .keypad-btns .fun_btn {
      color: #000;
      background: white;
      font-weight: bold;
    }

    button:hover {
      opacity: 0.8;
    }

    #clear {
      background: rgb(249,35,21);
      color: white;
      clear: both;
    }
    
    #history textarea {
      float: left;
      height: 245px;
      margin: 5px;
      width: 180px;
      border: 1px solid white;
       border-radius: 8px;
       background-color: #131313;
       color: white;
       padding: 10px;
    }
    
    #history button {
       position: absolute;
       width: 100px;
       padding: 2px;
       border-radius: 3px;
       background-color: red;
       color: white;
       border: none;
       bottom: 20px;
       left: 15px;
     }
    
    .parent {
      width: 400px;
      margin: auto;
      position: relative;
      border-right: 3px solid white;
      border-left: 3px solid white;
      padding: 5px;
      height: 300px;
    }
    
    
    @media only screen and (max-width: 600px) {
      body {
        background-color: #131313;
        display: block;
      }
     
     .parent {
       width: auto;
       margin: none;
       border: none;
       padding: 0;
       height: auto;
     }
     
     .container {
       float: none;
       margin-top: 36.5%;
       margin-right: 8px;
       margin-left: 8px;
       position: relative;
       top: none;
       right: 0;
     }
      
      #Display-area {
        margin: 1.5vh 0;
      }
      
      .keypad-btns {
        grid: repeat(5, 60px) / repeat(4, 70px);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
      }
      
      .keypad-btns button {
        border-radius: 3px;
        font-size: larger;
      }
      
      #Display-area .currentInput {
        margin-bottom: 50px;
        font-size: xx-large;
      }
      
      #Display-area .answerScreen {
        font-size: larger;
      }
      
      #history {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 5px;
      }
      
     #history textarea {
       float: none;
       height: 115px;
       width: 100%;
       border: 2px solid white;
       border-radius: 8px;
       background-color: #131313;
       color: white;
       padding: 10px;
       overflow: scroll;
       margin: 0;
     }
     
     #history button {
       float: none;
       margin: 2px 35%;
       width: 100px;
       padding: 2px;
       border-radius: 3px;
       background-color: red;
       color: white;
       border: none;
       position: relative;
       bottom: 0;
       left: 0;
     }
    }
